.login {
	display: grid;
	place-items: center;
	height: 100vh;
	background-color: black;
}

.login img {
	width: 50%;
}

.login a {
	padding: 20px;
	border-radius: 99px;
	background-color: #1db954;
	font-weight: 600;
	color: white;
	text-decoration: none;
}

.login a:hover {
	background-color: white;
	border-color: #1db954;
	color: #1db954;
}

.category-name {
	margin: 10px 0;
	font-size: 1rem;
	font-weight: 700;
}

.cardsWrapInner {
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(auto-fill, minmax(204px, 1fr));
}

.playlist-card {
	background: #282828;
	border-radius: 10px;
	/* overflow: hidden; */
	padding: 1.2rem;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.cardImage {
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.3), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.cardImage img {
	width: 100%;
	height: 100%;
}
.cardContent {
	padding: 0.4rem 0;
}
.cardContent h3 {
	font-weight: 600;
	font-size: 0.9rem;
	margin-bottom: 0;
	letter-spacing: 0.6px;
}
.cardContent span {
	font-size: 0.8rem;
	color: #b3b3b3;
}
